@(topos: Seq[models.ZkKafka.Topology],topicInfo: List[TopicInfo])(implicit request: play.api.mvc.RequestHeader)

@main("Capillary") {

<h1>Topologies</h1>
<ul>
    @for(topo <- topos) {
    <li><a href="@routes.Application.topo(topo.name, topo.spoutRoot, topo.topic)">@topo.name</a></li>
    }
</ul>
<h1>Topics</h1>
<ul>
    @for(topic <- topicInfo) {
        @if(topic.isActive){
        <li>@topic.topicName <br/>条数:<font color="red">@topic.total</font></li>
        }else{
            <li>@topic.topicName <br/>条数:@topic.total</li>
        }
    }
</ul>
}
