@(topos: Seq[models.ZkKafka.Topology],topicInfo: List[utils.TopicInfo])(implicit request: play.api.mvc.RequestHeader)

@main("Capillary") {

<h1>Topologies</h1>
<ul>
    @for(topo <- topos) {
    <li><a href="@routes.Application.topo(topo.name, topo.spoutRoot, topo.topic)">@topo.name</a></li>
    }
</ul>
<h1>Topics</h1>
<ul>
    @for(topic <- topicInfo) {
        @if(topic.isActive){
        <li><font size="5">@topic.topicName></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red" size="5">条数:@topic.total &nbsp;增长了: @topic.increment</font></li>
        <ul>
            @for(partitionInfo <- topic.partitions){
            <li><font color="green">Partition @partitionInfo.partition &nbsp;&nbsp;[Leader: @partitionInfo.leader] &nbsp;[replicas: @partitionInfo.reps.mkString(", ")]&nbsp; [ISR: @partitionInfo.isr.mkString(", ")] &nbsp; 条数:&nbsp;&nbsp; @partitionInfo.offset ,&nbsp;增长了: @partitionInfo.increment</font> </li>
            }
        </ul>
        }else{
            <li><font size="5">@topic.topicName</font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5">条数:@topic.total</font></li>
            <ul>
                @for(partitionInfo <- topic.partitions){
                <li><font color="green">Partition @partitionInfo.partition &nbsp;&nbsp;[ Leader: @partitionInfo.leader] &nbsp;[replicas: @partitionInfo.reps.mkString(", ")] &nbsp;[ISR: @partitionInfo.isr.mkString(", ")] &nbsp;条数:&nbsp;&nbsp; @partitionInfo.offset</font> </li>
                }
            </ul>
        }
        </br>
    }
</ul>
}
